# Git
.git
.gitattributes
.gitignore

# Development
.vs/
.vscode/
obj/
bin/
Properties/

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Documentation
LICENSE
README.md
*.md

# Local development files
.env
*.user
*.suo
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# MSTest test Results
TestResults/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio
.vs/
*.userprefs

# Database
*.mdf
*.ldf
*.ndf 