# Archivos de configuración de entorno
.env
.env.local
.env.*.local

# Archivos generados por Visual Studio
.vs/
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Archivos de registro
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos y carpetas específicos de la herramienta
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/
.vscode/
*.swp
*.swo

# Carpetas de dependencias
node_modules/
packages/

# Archivos de compilación
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Archivos de caché
.sass-cache/
.nuget/
*.nupkg

# Archivos temporales
*.tmp
*.temp
.DS_Store
Thumbs.db 